.form-container{
    text-align: center;
}

input[type="text"]{
    height: 20px;
    padding-left: 15px;
    margin: 5px;
}

body{
  justify-content: center;
  align-items: center;
  /* background-image: url(images/house.jpg);
  background-size: cover; */
} 

input[type="button"],
input[type="submit"]{
    height: 30px;
    margin-left: 5px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.form-container{
    max-width: 800px;
    padding: 28px;
    margin: 0 28px;
    box-shadow: 0 15px 20px #ABB2B9;
}

h3{
    font-size: 26px;
    font-weight: 600;
    text-align: left;
    color: #184e77;
    /* color: #2f4f4f; */
    padding-bottom: 8px;
    border-bottom: 1px solid silver;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.input-box:nth-child(2n){
    justify-content: end;
}

.input-box input{
    height: 40px;
    width:95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.input-box input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.alert p{
    font-size: 14px;
    font-style: italic;
    color: dimgray;
    margin: 5px 0;
    padding: 10px;
}

.alert a{
    text-decoration: none;
}

.alert a :hover{
    text-decoration: underline;
}

.button-container{
    margin: 15px 0;
}

.button-container{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    border: radius;
    display: block;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, #34a0a4, #184e77);
}

.button-container:hover{
    background-image: linear-gradient(to right, #8b91bb, #0e0e95);

}

.required::after{
    content: "*";
    color: red;
    font-size: 20px;
}

.input-box input:focus{
    outline: 0;
}

.input-box.success input{
    border-color: #09c372;
}

.input-box.error input{
    border-color: #ff3860;
}

.input-box.error{
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

.error{
    color: red;
}