body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .form-input {
  margin: 10px;
  padding: 5px;
  width: 100%;
}
.error {
  color: red;
}

#reg{
  width: 50%;
  padding: 20px;
  margin: 0 auto;
  border: 3px solid tomato;
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgb(126, 5, 25);
  background-color: rgb(255, 255, 255);
  text-align: center;
  line-height: 2;
  
}
#txt{
  text-align: center;
  margin-bottom: 20px;
}
form {
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
    color: black;


}
form input{
  border: none; 
  border-bottom: 2px solid tomato; 
  background: none; 
  outline: none; 
  padding: 0 30px;
  margin:  0 10px;
  
}
#submit_btn{
  width: 20%;
  padding: 2px 10px;
}


 */
